<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--  Internet para la previsión del tiempo (Open-Meteo) y, en el futuro, Firestore  -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--  Cámara para el escáner QR (opcional, se puede meter ID a mano)  -->
    <uses-permission
        android:name="android.permission.CAMERA"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UrbanGarden"
        tools:targetApi="31">
        <!--  Pantalla de inicio: Login  -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.UrbanGarden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--  Activity principal con BottomNavigationView  -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.UrbanGarden"/>
    </application>
</manifest>